/* Основные стили тела документа */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: OpenSans, sans-serif;
    line-height: 1.6;
    display: grid;
    margin: 0;
    padding: 0;
    color: #ffffff; /* Цвет текста */
    animation: fadeIn 0.5s ease-in-out; /* Анимация появления */
    background: #f8f7e9; /* Цвет фона */
    background-image: url(img/atmosphe.svg);
    background-size: 50px;
}
/* Стили навигационного меню */
nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Стилизация изображений */
header img {
    width: 75px; /* Ширина автоматически адаптируется */
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Высота автоматически адаптируется */
}

.name img {
    width: 150px; /* Ширина автоматически адаптируется */
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Высота автоматически адаптируется */
    margin: 15px;
    color: #818181;
    border-radius: 100%;
    box-shadow: 0px 0px 20px;
}

.container {
    display: flex;
    flex-direction: column; /* Делаем стек элементов вертикальным */
    align-items: center; /* Выравнивание по центру */
    justify-content: center;
    margin: 50px 350px 50px 350px; /* Отступы сверху и снизу */
    border-radius: 10px;
    min-height: 50vh; /* Подстраховываемся на случай малого количества контента */
    overflow: auto; /* Добавляем прокрутку при необходимости */
    background-color: rgb(54, 54, 54);
    padding: 50px;
    color: #fff;
}

.container_kuhny {
    margin: 50px 500px 50px 500px;
}

.articles {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

a {
    color: greenyellow;
    text-decoration: none;
    transition: color 300ms ease;
}

a:hover {
    color: rgb(117, 175, 30);
}

header {
    justify-content: space-between;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 15px;
}

.enigma {
    width: 100%;
    margin-bottom: -50px;
}

.sborka {
    width: 50%;
}

.html_icon {
    width: 10%;
}

.kuhny {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.stopercent {
    width: 100%;
}

/* Стили футера */
footer {
    display: flex;
    justify-content: space-between; /* Разместит текст слева, а картинки справа */
    align-items: center; /* Выровняет элементы по центру по вертикали */
    background: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.social-media {
    display: flex; /* Делает контейнер картинок флекс-контейнером */
    /* justify-content: center; Центрирует картинки внутри */
}

.contacts {
    width: 50px; /* Устанавливает ширину картинок */
    margin: 10px; /* Добавляет отступы между картинками */
}

/* Ключевые кадры для анимации появления */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.name {
    display: flex;
    flex-direction: row;
}
.name b {
    margin-top: 20px;
    font-size: 30px;
}


span {
    display: flex;
    flex-direction: column;
}
